<stl:box>
       <stl:data name="number" datatype="text" displayname="序号" value="1"></stl:data>
        <stl:data name="size" datatype="text" displayname="字号" value="1em"></stl:data>
        <stl:data name="color" datatype="color" displayname="文字颜色"  value="#fff"></stl:data>
        <stl:data name="background-color" datatype="color" displayname="背景颜色"  value="#f2be45"></stl:data>
        
       <fieldset style="border: 0; margin: 1em 0 2em; clear: both" class="ng-scope">
             <section style="text-align: center; font-size: {stl.data.size}; font-family: inherit; font-style: normal; font-weight: inherit; text-decoration: inherit; color: {stl.data.color}; border-color: {stl.data.background-color}; background-color: transparent;">
             <section style="width: 2em; height: 2em; margin: 0px auto; border-radius: 100%; background-color: {stl.data.background-color};">
             <section style="display: inline-block; padding: 0px 0.5em; font-size: 1em; line-height: 2; font-family: inherit; font-style: normal; text-align: center; color: {stl.data.color};">
             <section>{stl.data.number}</section>
             </section>
             </section>
             <section style="margin-top: -1em; margin-bottom: 1em">
             <section style="border-top-width: 1px; border-top-style: solid; border-color: {stl.data.background-color}; width: 35%; float: left;"></section>
             <section style="border-top-width: 1px; border-top-style: solid; border-color: {stl.data.background-color}; width: 35%; float: right;"></section>
             </section>
             </section>
       </fieldset>
</stl:box>