<stl:box>
        <stl:data name="title" datatype="text" displayname="标题" value="标题"></stl:data>
        <stl:data name="size" datatype="text" displayname="标题字号" value="1em"></stl:data>
        <stl:data name="color" datatype="color" displayname="文字颜色"  value="#f2be45"></stl:data>
        <stl:data name="number" datatype="text" displayname="序号" value="请输入序号"></stl:data>
        <stl:data name="number-color" datatype="color" displayname="数字颜色" value="#f2be45"></stl:data>
        <stl:data name="background-color" datatype="color" displayname="背景颜色"  value="#f2be45"></stl:data>
        

</stl:box>