<stl:box>
       <stl:data name="title" datatype="textarea" displayname="内容"  value="请输入对话"></stl:data>
       <stl:data name="size" datatype="text" displayname="字号"  value="1em"></stl:data>
       <stl:data name="background-color" datatype="color" displayname="背景颜色"  value="#4b5cc4"></stl:data>
       <stl:data name="color" datatype="color" displayname="文字颜色"  value="#fff"></stl:data>

       
    <fieldset style="border:0;text-align: left">
    <section style="display: inline-block; vertical-align: top; width: 40px; height: 40px; border-radius: 40px; background-image: url(http://templates.gexia.com/component/otherelements/images/boy.png); background-size: cover; background-position: 50% 50%; background-repeat: no-repeat;position: relative;left: 80%;top: -10px;"></section>
    <section style="display: inline-block; width: 75%; font-size: {stl.data.size}; font-family: inherit; font-style: normal; font-weight: inherit; text-align: inherit; text-decoration: inherit; color: inherit; border-color: {stl.data.background-color}; background-color: transparent;">
    <section style="display: inline-block; width: 85%; margin-top: 11px; padding: 16px; border-radius: 16px; background-color: {stl.data.background-color}; color: {stl.data.color}; text-align: right;">
    <section>{stl.data.title}</section>
    </section>
    </section>
    </fieldset>
</stl:box>