<stl:box>
        <stl:data name="title4-title" datatype="text" displayname="标题" value="请输入标题"></stl:data>
        <stl:data name="title4-size" datatype="text" displayname="字号" value="1em"></stl:data>
        <stl:data name="title4-background-color" datatype="color" displayname="背景颜色"  value="#f2be45"></stl:data>
        <stl:data name="title4-title-color" datatype="color" displayname="文字颜色"  value="#fff"></stl:data>

<fieldset style="border: 0; margin: 1em 0 3em; clear: both">
 <section style="font-size: {stl.data.title4-size}; font-family: inherit; font-style: normal; font-weight: inherit; text-align: center; text-decoration: inherit; color: {stl.data.title4-title-color}; border-color: {stl.data.title4-background-color}; background-color: transparent;">
           <section style="height: 2em">
           <section style="display: inline-block; margin: 0px 15%; width: 70%; height: 2em; background-color: {stl.data.title4-background-color};">
           <section style="text-align: center; white-space: nowrap; overflow: hidden; line-height: 1; padding: 0.5em 0px; font-size: {stl.data.title4-size}; font-family: inherit; font-style: normal; color: {stl.data.title4-title-color}; background-color: rgba(255, 255, 255, 0.2);">
           <section>{stl.data.title4-title}</section>
           </section>
           </section>
           </section>
           <section style="margin-top: -1.6em; margin-bottom: 2.1em; clear: both">
           <section style="width: 25%; height: 0px; float: left; border-top-width: 1em; border-top-style: solid; border-top-color: {stl.data.title4-background-color}; border-bottom-width: 1em; border-bottom-style: solid; border-bottom-color: {stl.data.title4-background-color}; border-left-width: 1em !important; border-left-style: solid !important; border-left-color: transparent !important; font-size: {stl.data.title4-size}; border-right-color:{stl.data.title4-background-color};"></section>
           <section style="width: 25%; height: 0px; float: right; border-top-width: 1em; border-top-style: solid; border-top-color: {stl.data.title4-background-color}; border-bottom-width: 1em; border-bottom-style: solid; border-bottom-color: {stl.data.title4-background-color}; border-right-width: 1em !important; border-right-style: solid !important; border-right-color: transparent !important; font-size: 1em; border-left-color: {stl.data.title4-background-color};"></section>
           </section>
           </section>
</fieldset>
</stl:box>