<stl:box>
        <stl:data name="title" datatype="text" displayname="标题" value="大号标题"></stl:data>
        <stl:data name="size" datatype="text" displayname="标题字号" value="3em"></stl:data>
        <stl:data name="color" datatype="color" displayname="文字颜色"  value="#f2be45"></stl:data>
        
       <h1 style="font-size: {stl.data.size}; font-family: inherit; font-style: normal; font-weight: inherit; text-align: inherit; text-decoration: inherit; color: {stl.data.color};">
       <section>{stl.data.title}</section>
       </h1>
</stl:box>