@charset "utf-8";

@import url(font-awesome.min.css);
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td { margin:0; padding:0; }
html{ height:100%;-webkit-text-size-adjust: none;}
em,i,strong{font-style:normal;}
ul,ol{list-style:none;}
a{text-decoration:none;}
img{border:0 none; vertical-align:top; width: 100%;}
.clear{clear:both;height:0; line-height:0; font-size:0;display:block; overflow:hidden}
.clearfix:after {clear: both;content: ".";display: block;height: 0;visibility: hidden;font-size:0}
.clearfix {zoom:1}
.fl{float:left; display: inline;}
.fr{float:right; display: inline;}
body, input, select, textarea {
	color: #93999a;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	letter-spacing: -0.025em;
	line-height: 1.75em;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
	color: #626c6e;
	font-weight: bold;
	letter-spacing: -0.05em;
	line-height: 1em;
	margin: 0 0 1em 0;
}
a {
	-moz-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	color: #6ec7f5;
	text-decoration: none;
}
a:hover {
	border-bottom-color: transparent;
	color: #6ec7f5 !important;
}
a.icon:before {
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
}

a.icon:hover:before {
	color: #6ec7f5 !important;
}
.icon {
	text-decoration: none;
	border-bottom: none;
	position: relative;
}
.icon:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}
strong, b {
	color: #626c6e;
	font-weight: bold;
}

em, i {
	font-style: italic;
}
body{
	background: #fff;
	padding-top: 65px;
	font-family: "微软雅黑";
}




#header {
	background: #fff;
	border-bottom: solid 1px #e2eaec;
	height: 65px;
	left: 0;
	line-height: 65px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10000;
}
#header h1 {
	height: inherit;
	left: 1em;
	line-height: inherit;
	position: absolute;
	top: -7px;
}
#header h1 a {
	text-decoration: none;
	border: 0;
	font-size: 20px;
}
#header h1 a:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}
#header h1 a:before {
	color: #fff !important;
	text-shadow: 1px 0 0 #6ec7f5, -1px 0 0 #6ec7f5, 0 1px 0 #6ec7f5, 0 -1px 0 #6ec7f5;
}

#header h1 a:before {
	color: #6ec7f5;
	content: '\f0c2';
	margin-right: 0.6em;
}
#nav {
	position: absolute;
	right: 0;
	top: 0;
}

#nav:after {
	clear: both;
	content: '';
	display: block;
}

#nav ul {
	list-style: none;
	padding: 0;
}

#nav ul li {
	display: block;
	float: left;
	padding: 0;
}

#nav ul li > a, #nav ul li > span {
	border: 0;
	color: #626c6e;
	display: block;
	font-weight: bold;
	padding: 0 1em;
	font-size: 16px;
}

#nav ul li.special {
	border-left: solid 1px #e2eaec;
}

#nav ul li.special > a, #nav ul li.special > span {
	padding: 0 1.5em;
}

#nav ul li.special > .icon:before {
	color: #c2cacc;
	margin-right: 0.5em;
}

#nav ul li:not(.special) + .special {
	margin-left: 0.75em;
}	

#nav #menuPanel-content {
	display: none;
}

#banner{
	background-attachment: fixed,	 fixed;
	background: url("../images/banner.jpg") no-repeat center 0;
	background-size: 100% 100% ;
	color: #d7dada;
	min-height: 800px;
	position: relative;	
	text-align: center;
}
#banner .inner{
	padding-top: 230px;
}
#banner h2{
	color: #fff;
	line-height: 70px;
	font-size: 40px;
}
a:hover {
	border-bottom-color: transparent;
	color: #6ec7f5 !important;
}
.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
	background-color: transparent;
	border-radius: 6px;
	border: 0;
	color: #626c6e !important;
	cursor: pointer;
	display: inline-block;
	height: 3.35em;
	line-height: 3.5em;
	padding: 0 4em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}
.button.special {
	background-color: #6ec7f5 !important;
}
.button.special:hover {
	background-color: #86d0f7 !important;
}
#banner .button {
	color: #ffffff !important;
	font-size: 1.25em;
	padding: 0 4em;
	height: 2.75em;
	line-height: 2.75em;
	letter-spacing: -0.035em;
}
#banner .inner .footnote {
	margin-bottom: 0;
	padding-top: 1.75em;
	width: 100%;
	font-size: 18px;
	color: #e9e3de;
}
#banner .inner .footnote  a,#banner .inner .footnote  a:hover {
	color: #e9e3de!important;
	border-bottom: 1px solid #e9e3de;
	margin-left: 10px;
}
#main {
	padding: 6.5em 1em 4.5em 1em;
}
.container {
	margin-left: auto;
	margin-right: auto;
	max-width: 70em;
}
#main > .feature {
	border-top: solid 1px #e2eaec;
	padding: 6.5em 0 4.5em 0;
}
#main > .feature:first-child {
	border-top: 0;
	padding-top: 0;
}
#main > .feature.major {
	padding-left: 6em;
	padding-right: 6em;
	text-align: center;
}
.icon.major {
	border-radius: 100%;
	border: solid 1px #e2eaec;
	cursor: default;
	display: inline-block;
	height: 12em;
	line-height: 12em;
	margin: 0 0 2em 0;
	text-align: center;
	width: 12em;
}
.icon.fa-paper-plane {
	text-indent: -0.75em;
}
.icon.alt:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}
.icon.alt:before {
	color: #fff !important;
	text-shadow: 1px 0 0 #6ec7f5, -1px 0 0 #6ec7f5, 0 1px 0 #6ec7f5, 0 -1px 0 #6ec7f5;
}
.icon.major:before {
	font-size: 6em;
}




#two .l{
	width: 33.3%;
}
#two .r{
	width: 66.6%;
	margin-top: -30px;
}
#two .r li{
	float: left;
	width: 33.3%;
	text-align: center;
}
ul.major-icons li p {
	color: #626c6e;
	margin: 0 0 2em 0;
	white-space: nowrap;
}
#two h2,#three h2{
	line-height: 46px;
}
#two .button,#three .button {
	box-shadow: inset 0 0 0 1px #e2eaec;
	margin-top: 30px;
}



#three .l{
	width: 66.6%;
}
#three .r{
	width: 33.3%;
}
#three .l .item{
	width: 45%;
	padding: 0 0 1.5em 1.5em;
}
.image {
	border-radius: 6px;
	border: 0;
	display: inline-block;
	position: relative;
}
.image.fit {
	display: block;
	width: 100%;
}
.image .caption {
	background: #232626;
	background: rgba(35, 38, 38, 0.7);
	border-radius: 0 0 6px 6px;
	bottom: 0;
	color: #fff;
	font-size: 16px;
	left: 0;
	line-height: 1.5em;
	margin: 0;
	padding: 0.75em 0;
	text-indent: 1em;
	position: absolute;
	width: 100%;
}
 #three .button{
 	margin-top: 100px;
 }
.image img {
	border-radius: 6px;
	display: block;
}
.image.fit img {
	width: 100%;
}
#four .button{
	margin-top: 30px;
	color: #fff!important;
	padding: 0 7em;
}
#four h2{
	font-size: 34px;
}

#footer {
	background: #f7f9fa;
	border-top: solid 1px #e2eaec;
	padding: 6.5em 0;
	color: #93999a;
}
#footer .l{
	width: 30%;
	padding-left: 3%;
}
#footer .m{
	width: 30%;
	padding-left: 3%;
}
#footer .r{
	width: 30%;
	padding-left: 3%;
}
#footer h2{
	line-height: 46px;
}
#footer .button {
	box-shadow: inset 0 0 0 1px #e2eaec;
	margin-top: 30px;
}
#footer .updates a{
	color: #909798;
	font-size: 18px;
}
#footer .timestamp{
	font-size: 14px;
	color: #b6bbbc;
}
#footer .updates  li{
	margin-bottom: 30px;
}
ul.labeled-icons li .icon {
	border-radius: 100%;
	border: solid 1px #e2eaec;
	cursor: default;
	display: block;
	height: 2em;
	left: 0;
	line-height: 2em;
	position: absolute;
	text-align: center;
	top: 0;
	width: 2em;
}
ul.labeled-icons li {
	margin: 0 0 2em 0;
	padding: 0 0 0 3.25em;
	position: relative;
}
ul.labeled-icons li a{
	color: #93999a;
}
#footer .copyright {
	border-top: solid 1px #d2dadc;
	color: #bbbebf;
	margin-top: 4.5em;
	overflow: hidden;
	padding-top: 4.875em;
	text-align: center;
}
#footer .copyright p {
	display: inline-block;
	font-size: 0.8em;
	margin: 0;
}
/*pad*/
@media all and (min-width: 0) and (max-width: 850px){
	body{
		padding-top: 48px;
	}
	#header{
		height: 48px;
		line-height: 48px;
	}
	#banner{
		min-height: 500px;
	}
	#banner .inner{
		padding-top: 100px;
	}
	#banner h2{
	  	font-size: 26px;
	  	line-height: 46px;
	}
	#main > .feature.major h2{
	  	font-size: 18px;
	}
	#main > .feature.major p{
	  	font-size: 14px;
	}
	.icon.major{
		width: 9em;
		height: 9em;
		line-height: 9em;
	}
	.icon.major:befor{
		font-size: 5em;
	}
	#two .l{
		width: 80%;
		padding: 0 10%;
		text-align: center;
	}
	h2{
		font-size: 1.3em;
	}
	#two .l p{
		font-size: 16px;
	}
	.button{
		height: 2.8em;
		line-height: 2.8em;
	}
	#two .r{
		width: 100%;
		margin-top: 40px;
	}
	ul.major-icons li p{
		font-size: 14px;
	}
	.icon.major{
		
	}
	#three .r{
		width: 90%;
		float: left;
		padding: 5%;
	}
	#three .l{
		width: 100%;
		float: right;
	}
	#footer .l{
		width: 90%;
		padding: 0 5%;
		margin-bottom: 40px;
	}
	#footer .actions li{
		text-align: center;
	}
	#footer .m{
		width: 90%;
		padding: 0 5%;
		margin-bottom: 40px;
	}
	#footer .r{
		width: 90%;
		padding: 0 5%;
		margin-bottom: 40px;
	}
	#nav ul li:not(.special) {
		display: none;
	}
	#footer{
		padding: 5em 0
	}
}

/*mobile*/
@media all and (min-width: 0) and (max-width: 639px){
	body{
		padding-top: 41px;
	}
	#nav ul li.special > .icon:before{
		margin-right: 0;
	}
	#header{
		height: 40px;
		line-height: 40px;
	}
	#header h1{
		top: -6px;
		left: 10px;
	}
	#banner h2{
		font-size: 16px;
		line-height: 26px;
	}
	#banner .button{
		font-size: 0.8em;
	}
	#banner .inner .footnote{
		font-size: 14px;
		padding-top:1em;
	}
	#banner {
		min-height: 250px;
	}
	#banner .inner {
		padding-top: 40px;
	}
	#main > .feature.major{
		padding: 0 5%;
	}
	#main{
		padding: 30px 0;
	}
	.icon.major{
		width: 5em;
		height: 5em;
		line-height: 5em;
	}
	.icon.major:before{
		font-size: 3em;
	}
	#main > .feature.major h2{
		font-size: 14px;
	}
	#main > .feature.major p {
		font-size: 12px;
		line-height: 20px;
		padding-bottom: 20px;
	}
	#main > .feature{
		padding: 20px 0;
	}
	#two h2, #three h2 {
		font-size: 16px;
		line-height: 26px;
	}
	#two .l p{
		font-size: 12px;
		line-height: 20px;
	}
	#two .l{
		width: 90%;
		padding: 0 5%;
	}
	#nav ul li.special {
		width: 3.3em;
	}
	#nav ul li.special a {
		overflow-x: hidden;
		padding: 0;
		position: relative;
		text-indent: 200%;
		white-space: nowrap;
		width: 4em;
	}
	#nav ul li.special a:before {
		left: 0;
		position: absolute;
		text-align: center;
		text-indent: 0;
		top: 0;
		width: 4em;
	}
	ul.major-icons li p{
		line-height: 22px;
	}
	#three .l .item{
		width: 90%;
		padding: 10px 5%;
	}
	#three .r p{
		font-size: 14px;
		line-height: 20px;
	}
	#three .button{
		margin-top: 20px;
	}
	#three .actions li{
		text-align: center;
	}
	#main > .feature.major h2{
		padding-top: 20px;
	}
	#four .button{
		padding: 0 3em;
		margin-top: 10px;
	}
	#footer{
		padding: 2em 0;
	}
	#footer h2{
		font-size: 18px;
		line-height: 26px;
	}
	#footer p{
		font-size: 14px;
		line-height: 20px;
	}
	#footer .m{
		margin-bottom: 0;
	}
	#footer .m h3,#footer .r h3{
		font-size: 18px;
	}
	#footer .updates a,#footer .r li span{
		font-size: 14px;
	}
	#footer .updates li{
		margin-bottom: 10px;
	}
	#footer .r{
		margin-bottom: 0;
	}
	#footer .copyright{
		margin-top: 10px;
		padding-top: 20px;
	}
	ul.labeled-icons li{
		margin-bottom:15px;
	}
}




