@charset 'UTF-8';
.jo-blue {
  background: url({stl.templateUrl}/images/threeofone.png) repeat-y;
  background-size: cover;
}
.jo-orange {
  background: url({stl.templateUrl}/images/threeoftwo.png) repeat-y;
  background-size: cover;
}
.jo-grey {
  background: url({stl.templateUrl}/images/threeofthree.png) repeat-y;
  background-size: cover;
}
.jo-max-width {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
/*The One of public style*/
.jo-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  background: #181818;
}
.jo-menu .jo-menu-list {
  padding: 30px 0;
  text-align: center;
}
.jo-menu .jo-menu-list a {
  display: inline-block;
  padding: 10px 50px;
  font-family: "Microsoft Yahei";
  font-size: 14px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.75);
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}
.jo-menu .jo-menu-list a:hover,
.jo-menu .jo-menu-list a.hover {
  background: #2a9bd5;
}
/*the pad style*/
@media (min-width: 768px) and (max-width: 1000px) {
  .jo-menu .jo-menu-list a {
    padding: 10px 20px;
  }
}
/*the phone style*/
@media only screen and (max-width: 767px) {
  .jo-menu .jo-menu-list a {
    padding: 10px 5px;
  }
}
/*The Slogan style*/
.jo-slogan {
  padding: 7em 0;
  background: #181818;
  text-align: center;
}
.jo-slogan img {
  max-width: 100%;
}
/*the pad style*/
@media (min-width: 320px) and (max-width: 1000px) {
  .jo-slogan {
    padding: 50px 20px;
  }
}
/*the phone style*/
@media only screen and (max-width: 319px) {
  .jo-slogan {
    padding: 50px 20px;
  }
}
/*the foucs Img*/
.jo-banner {
  padding-top: 80px;
  padding-bottom: 20px;
  background: url({stl.templateUrl}/images/bg-bn.png) repeat;
}
.jo-banner .jo-banner-inner {
  position: relative;
  top: -5px;
}
.jo-banner .jo-banner-inner img {
  max-width: 100%;
  border: none;
}
.jo-banner .jo-banner-inner .title {
  position: absolute;
  top: 100px;
  right: 80px;
  text-align: right;
  font-family: "Microsoft Yahei";
  font-size: 36px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.75);
}
.jo-banner .jo-banner-inner .subtitle {
  position: absolute;
  top: 240px;
  right: 80px;
  font-family: "Microsoft Yahei";
  font-size: 24px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.75);
}
/*the pad style*/
@media (min-width: 768px) and (max-width: 1000px) {
  .jo-banner {
    padding-top: 40px;
    padding-bottom: 10px;
  }
  .jo-banner .jo-banner-inner .title {
    position: absolute;
    top: 20px;
    right: 40px;
    font-family: "Microsoft Yahei";
    font-size: 22px;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.75);
  }
  .jo-banner .jo-banner-inner .subtitle {
    position: absolute;
    top: 120px;
    right: 40px;
    font-family: "Microsoft Yahei";
    font-size: 16px;
    line-height: 1.2;
    color: rgba(0, 0, 0, 0.75);
  }
}
/*the phone style*/
@media only screen and (max-width: 767px) {
  .jo-banner {
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .jo-banner .jo-banner-inner {
    position: static;
  }
  .jo-banner .jo-banner-inner .title {
    position: static;
    width: auto;
    height: auto;
    font-family: "Microsoft Yahei";
    font-size: 22px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.75);
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
  }
  .jo-banner .jo-banner-inner .subtitle {
    display: none;
  }
}
/*the img list style*/
.jo-imglist {
  padding-bottom: 80px;
  background: url({stl.templateUrl}/images/bg-bn.png) repeat;
}
.jo-imglist .jo-max-width {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.jo-imglist .jo-imgbox img {
  width: 100%;
}
.jo-imglist .jo-imgtitle {
  position: relative;
  height: 120px;
  top: -5px;
}
.jo-imglist .jo-imgtitle .title {
  position: absolute;
  top: 30px;
  left: 25px;
}
.jo-imglist .jo-imgtitle .title a {
  font-family: "Microsoft Yahei";
  font-size: 26px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}
.jo-imglist .jo-imgtitle .subtitle {
  position: absolute;
  top: 71px;
  left: 25px;
}
.jo-imglist .jo-imgtitle .subtitle a {
  font-family: "Microsoft Yahei";
  font-size: 18px;
  line-height: 1;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}
.jo-imglist .jo-imgtitle .fa-chevron-circle-right {
  position: absolute;
  right: 20px;
  top: 35px;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}
/*the pad style*/
@media (min-width: 760px) and (max-width: 1000px) {
  .jo-imglist {
    padding-bottom: 40px;
  }
  .jo-imglist .jo-max-width {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .jo-imglist .jo-imgbox img {
    width: 100%;
  }
  .jo-imglist .jo-imgtitle {
    position: relative;
    height: 70px;
  }
  .jo-imglist .jo-imgtitle .title {
    position: absolute;
    top: 15px;
    left: 15px;
  }
  .jo-imglist .jo-imgtitle .title a {
    font-family: "Microsoft Yahei";
    font-size: 20px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.75);
  }
  .jo-imglist .jo-imgtitle .subtitle {
    position: absolute;
    top: 35px;
    left: 15px;
  }
  .jo-imglist .jo-imgtitle .subtitle a {
    font-family: "Microsoft Yahei";
    font-size: 14px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.75);
  }
  .jo-imglist .jo-imgtitle .fa-chevron-circle-right {
    position: absolute;
    right: 10px;
    top: 25px;
    font-size: 30px;
  }
}
/*the phone style*/
@media only screen and (max-width: 759px) {
  .jo-imglist {
    padding-bottom: 10px;
  }
  .jo-imglist .jo-max-width {
    display: block;
    padding: 0 10px;
  }
  .jo-imglist .jo-imgbox {
    width: 100%;
    margin-bottom: 10px;
  }
  .jo-imglist .jo-imgbox img {
    width: 100%;
  }
  .jo-imglist .jo-imgtitle {
    position: relative;
    height: 70px;
  }
  .jo-imglist .jo-imgtitle .title {
    position: absolute;
    top: 15px;
    left: 15px;
  }
  .jo-imglist .jo-imgtitle .title a {
    font-family: "Microsoft Yahei";
    font-size: 20px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.75);
  }
  .jo-imglist .jo-imgtitle .subtitle {
    position: absolute;
    top: 35px;
    left: 15px;
  }
  .jo-imglist .jo-imgtitle .subtitle a {
    font-family: "Microsoft Yahei";
    font-size: 14px;
    line-height: 1;
    color: rgba(255, 255, 255, 0.75);
  }
  .jo-imglist .jo-imgtitle .fa-chevron-circle-right {
    position: absolute;
    right: 10px;
    top: 25px;
    font-size: 30px;
  }
}
/*the four Area style*/
.jo-fourarea {
  padding-top: 80px;
  padding-bottom: 80px;
  background: #fff;
}
.jo-fourarea .jo-max-width {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.jo-fourarea .jo-item {
  width: 23%;
}
.jo-fourarea .jo-item .box img {
  max-width: 100%;
}
.jo-fourarea .jo-item .box h1 {
  margin-top: -4px;
  font-weight: 100;
  font-family: "Microsoft Yahei";
  font-size: 32px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.75);
}
.jo-fourarea .jo-item .box h4 {
  margin-top: 20px;
  font-weight: 100;
  font-family: "Microsoft Yahei";
  font-size: 18px;
  line-height: 30px;
  color: #7f7f7f;
}
.jo-fourarea .jo-item .box .title {
  padding-top: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "Microsoft Yahei";
  font-size: 24px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.75);
}
.jo-fourarea .jo-item .box .summary {
  padding-top: 20px;
  font-family: "Microsoft Yahei";
  font-size: 14px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.75);
}
.jo-fourarea .jo-item .box .jo-btn {
  display: block;
  height: 52px;
  width: 130px;
  margin-top: 25px;
  text-align: center;
  background-size: 100% 100%;
  font-family: "Microsoft Yahei";
  font-size: 18px;
  line-height: 52px;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}
/*the phone style*/
@media only screen and (max-width: 767px) {
  .jo-fourarea {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #fff;
  }
  .jo-fourarea .jo-max-width {
    display: block;
  }
  .jo-fourarea .jo-item {
    width: 100%;
    margin-bottom: 30px;
  }
  .jo-fourarea .jo-item .box img {
    width: 100%;
  }
  .jo-fourarea .jo-item .box h1 {
    margin-top: -4px;
    font-weight: 100;
    font-family: "Microsoft Yahei";
    font-size: 22px;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.75);
  }
  .jo-fourarea .jo-item .box h4 {
    margin-top: 20px;
    font-weight: 100;
    font-family: "Microsoft Yahei";
    font-size: 18px;
    line-height: 30px;
    color: #7f7f7f;
  }
  .jo-fourarea .jo-item .box .title {
    padding-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: "Microsoft Yahei";
    font-size: 24px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.75);
  }
  .jo-fourarea .jo-item .box .summary {
    padding-top: 10px;
    font-family: "Microsoft Yahei";
    font-size: 14px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.75);
  }
  .jo-fourarea .jo-item .box .jo-btn {
    width: auto;
    margin-top: 5px;
  }
}
/*next style in linkus useing*/
.classify {
  list-style: none;
  margin: 0;
  padding: 0;
}
.classify li {
  list-style: none;
  border-bottom: dashed #7f7f7f 1px;
  height: 41px;
  font-family: "Microsoft Yahei";
  font-size: 13px;
  line-height: 41px;
  color: #0087cd;
}
.classify li a {
  color: #0087cd;
  text-decoration: underline;
}
/*the blog style*/
.jo-blog {
  padding: 80px 0;
  background: #fafafa;
}
.jo-blog .title {
  font-family: "Microsoft Yahei";
  font-size: 40px;
  line-height: 50px;
  color: rgba(0, 0, 0, 0.75);
}
.jo-blog .subtitle {
  font-family: "Microsoft Yahei";
  font-size: 24px;
  line-height: 50px;
  color: #7f7f7f;
}
.jo-blog .thumb-sum-more {
  position: relative;
  margin-top: 40px;
  padding-bottom: 30px;
}
.jo-blog .thumb-sum-more .thumbnail {
  position: absolute;
  width: 23%;
}
.jo-blog .thumb-sum-more .thumbnail img {
  width: 100%;
}
.jo-blog .thumb-sum-more .summary {
  margin-left: 27%;
  font-family: "Microsoft Yahei";
  font-size: 13px;
  line-height: 28px;
  color: #7f7f7f;
}
.jo-blog .thumb-sum-more .butten {
  position: absolute;
  left: 27%;
  display: block;
  height: 52px;
  width: 150px;
  margin-top: 25px;
  text-align: center;
  background-size: 100% 100%;
  font-family: "Microsoft Yahei";
  font-size: 18px;
  line-height: 52px;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}
@media only screen and (max-width: 767px) {
  .jo-blog {
    padding: 30px 0;
  }
  .jo-blog .thumb-sum-more {
    margin-top: 20px;
    padding-bottom: 15px;
  }
  .jo-blog .thumb-sum-more .thumbnail {
    position: static;
    width: 100%;
  }
  .jo-blog .thumb-sum-more .summary {
    margin-top: 15px;
    margin-left: 0;
  }
  .jo-blog .thumb-sum-more .butten {
    position: static;
    left: auto;
    width: auto;
    margin-top: 15px;
  }
}
/*the article style*/
.jo-article {
  background: #fafafa;
  padding-bottom: 60px;
}
.jo-article .jo-max-width {
  border-top: solid 1px #dedede;
}
.jo-article .article {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 50%;
  float: left;
}
.jo-article .article .thumb {
  position: absolute;
  width: 102px;
  height: 102px;
}
.jo-article .article .thumb img {
  width: 102px;
  height: 102px;
}
.jo-article .article .content {
  width: auto;
  padding-left: 122px;
  padding-right: 15px;
}
.jo-article .article .content .title {
  font-family: "Microsoft Yahei";
  font-size: 24px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.75);
}
.jo-article .article .content .summary {
  padding-top: 20px;
  font-family: "Microsoft Yahei";
  font-size: 13px;
  line-height: 22px;
  color: #7f7f7f;
}
.jo-article .article:nth-child(3),
.jo-article .article:nth-child(4) {
  border-top: solid 1px #dedede;
}
@media only screen and (max-width: 767px) {
  .jo-article {
    padding-bottom: 30px;
  }
  .jo-article .article {
    width: 100%;
    float: none;
    border-top: solid 1px #dedede;
  }
  .jo-article .article:nth-child(1) {
    border-top: none;
  }
}
/*the linkus style*/
.jo-linkus {
  background: #f2f2f2;
  padding: 80px 0;
}
.jo-linkus .jo-halfofone {
  width: 50%;
}
.jo-linkus h2 {
  font-family: "Microsoft Yahei";
  font-size: 24px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 400;
}
.jo-linkus .classify {
  padding-right: 25px;
}
.jo-linkus .jo-weibo {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.jo-linkus .jo-weibo .jo-btn {
  display: block;
  height: 98px;
  width: 31%;
  background-size: 100% 100%;
  text-align: center;
  font-family: "Microsoft Yahei";
  font-size: 24px;
  line-height: 98px;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.jo-linkus .jo-weibo i {
  font-size: 40px;
}
.jo-linkus .jo-us {
  margin-top: 40px;
}
.jo-linkus .jo-link .item {
  margin-bottom: 15px;
  font-family: "Microsoft Yahei";
  font-size: 13px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.75);
}
.jo-linkus .jo-link .item .fa {
  display: inline-block;
  margin-right: 7px;
  height: 40px;
  line-height: 40px;
  width: 40px;
  text-align: center;
  background: #414141;
  color: rgba(255, 255, 255, 0.75);
  font-size: 18px;
}
@media only screen and (max-width: 767px) {
  .jo-linkus {
    padding: 40px 0;
  }
  .jo-linkus .jo-halfofone {
    width: 100%;
  }
  .jo-linkus .jo-weibo {
    display: block;
  }
  .jo-linkus .jo-weibo .jo-btn {
    width: 100%;
    margin-bottom: 20px;
  }
  .jo-copyright {
    padding: 50px 0;
  }
}
/*the copyright*/
.jo-copyright {
  padding: 100px 0;
  text-align: center;
  background: #fff;
  font-family: "Microsoft Yahei";
  font-size: 18px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.75);
}
@media only screen and (max-width: 767px) {
  .jo-copyright {
    padding: 50px 0;
    font-family: "Microsoft Yahei";
    font-size: 13px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.75);
  }
}
/*# sourceMappingURL=index.css.map */