<stl:box>
   <stl:style width="100%" border="0" margin="1em 0 2em 0" textAlign="center" fontSize="1em" verticalAlign="middle">white-space: nowrap</stl:style>
       <stl:data name="title2-title" datatype="text" displayname="标题"  value="请输入标题"></stl:data>
       <stl:data name="title2-border-color" datatype="color" displayname="边框颜色" value="#f2be45"></stl:data>
       <stl:data name="title2-title-color" datatype="color" displayname="标题颜色"  value="#ffffff"></stl:data>
        <div style="font-size: 1em; font-family: inherit; font-style: normal; font-weight: inherit; text-align: center; text-decoration: inherit; color: rgb(255, 255, 255); border-color: {stl.data.title2-border-color}; background-color: transparent;">
            <div style="height: 0px; white-space: nowrap; margin: 0px 1em; border-top-width: 1.5em; border-top-style: solid; border-top-color:  {stl.data.title2-border-color}; border-bottom-width: 1.5em; border-bottom-style: solid; border-bottom-color:  {stl.data.title2-border-color}; border-left-width: 1.5em !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 1.5em !important; border-right-style: solid !important; border-right-color: transparent !important; font-size: 1em;"></div>
            <div style="height: 0px; white-space: nowrap; margin: -2.75em 1.65em -2.3em; border-width: 1.3em; border-style: solid; border-color: rgb(255, 255, 255) transparent; font-size: 1em;"></div>
            <div style="height: 0px; white-space: nowrap; margin: 0px 2.1em; vertical-align: middle; border-top-width: 1.1em; border-top-style: solid; border-top-color:  {stl.data.title2-border-color}; border-bottom-width: 1.1em; border-bottom-style: solid; border-bottom-color:  {stl.data.title2-border-color}; border-left-width: 1.1em !important; border-left-style: solid !important; border-left-color: transparent !important; border-right-width: 1.1em !important; border-right-style: solid !important; border-right-color: transparent !important; font-size: 1em;">
                <div style="max-height: 1em; padding: 0px; margin-top: -0.5em; color: {stl.data.title2-title-color}; line-height: 1; overflow: hidden; text-align: center;">   
                    <div>{stl.data.title2-title}</div>
                </div>
            </div>
        </div>
</stl:box>