<stl:box>
       <stl:data name="shadow-color" datatype="color" displayname="阴影颜色"  value="#666"></stl:data>
       <stl:data name="img" datatype="image" displayname="图片"  value="http://templates.gexia.com/component/imagemixed/images/placeholder-img.jpg"></stl:data>

       <fieldset style="border:0;box-sizing: border-box; width: 80%; margin:0 auto; clear: both;  padding: 0 0.5em 0.5em 0">
             <img style="box-sizing: border-box; width: 100%;height: auto !important;text-align: start;-webkit-box-shadow: 0.2em 0.2em 0.5em {stl.data.shadow-color}; -moz-box-shadow: 0.2em 0.2em 0.5em {stl.data.shadow-color};box-shadow: 0.2em 0.2em 0.5em {stl.data.shadow-color}" src="{stl.data.img}">            
        </fieldset>
</stl:box>